option_settings:
  aws:elasticbeanstalk:application:environment:
    FLASK_APP: "application:application"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "application:application"
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: "aws-elasticbeanstalk-ec2-role"

container_commands:
  00_install_deps:
    command: "$(find /var/app/venv -name pip | head -1) install -r /var/app/staging/requirements.txt"
  01_migrate:
    command: "$(find /var/app/venv -name flask | head -1) db upgrade"
    leader_only: true
